@import "tailwindcss";

.linear {
  background: linear-gradient(90deg, #ffe3573d 30%, #419ce166 100%);
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 0.1px rgb(255, 255, 255);
  }
  .font-outline-1 {
    -webkit-text-stroke: 0.1px #e2343c;
  }
}

.custom-button {
  background: #e2343c;
  border-radius: 0px;
  font-family: "DM Sans", sans-serif;
  color: #ffffff;
  display: flex;
  align-items: center;
  border: none;
  gap: 4px;
  padding: 8px 32px;
  outline: 1px solid #e2343c;
  transition: all 0.3s ease;
  justify-content: center;
  font-size: 14px;
}

.custom-button:hover {
  cursor: pointer;
  border: none;
  outline: 1px solid #ffffff;
}


.custom-button2 {
  background: #ffffff;
  border-radius: 0px;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  border: none;
  color: #000000;
  gap: 4px;
  padding: 8px 32px;
  transition: all 0.5s ease;
  justify-content: center;
  font-weight: 500;
  outline: 1px solid rgba(128, 128, 128, 0.16);
}

.custom-button2:hover {
  color: #e2343c;
  cursor: pointer;
  background: #fefefe;
}

.custom-link {
  color: #e2343c;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
}
.custom-link:hover {
  color: #e2343c;
  text-decoration: underline;
}
